.menu {
  margin-top: 20px;
  padding-left: 0;
  text-align: right;
}// Custom styles.

.header { background: $all_background; }

.container {background-color: $all_background;}
.main{position: relative; background-color: $all_background;}
.main-inner { margin-top: 80px; width: 830px; background-color: $all_background}
.footer {
  margin-top: 80px;
  padding: 10px 0;
  background-color: $all_background;
  color: $grey-dark;
}

.post-body p a{
  color: $blue;
  border-bottom: none;
  border-bottom: 1px solid $blue;
  &:hover {
    color: $orange;
    border-bottom: none;
    border-bottom: 1px solid $orange;
  }
}

.footer-inner {position: relative; width: 830px; background-color: $all_background;}
//.header { background: $all_background; }
.header-inner { background-color: $all_background; }

.back-to-top {
  background: $all_background;
}

blockquote {
  // padding: 0 15px;
  color: $grey-dark;
  // border-left: 4px solid $gray-lighter;

  // cite::before {
  //   content: "-";
  //   padding: 0 5px;
  // }
}// Custom styles.
