.container {background-color: #fafafa;}
.main{position: relative; background-color: #fafafa;}
.main-inner { margin-top: 80px; width: 830px; background-color: #fafafa}
.footer {
  margin-top: 80px;
  padding: 10px 0;
  background-color: #fafafa;
  color: $grey-dim;
}
.footer-inner {position: relative; width: 830px; background-color: #fafafa;}
//.header { background: #fafafa; }
.header-inner { background-color: #fafafa; }