// Colors
// colors for use across theme.
// --------------------------------------------------

// code
$code-red = #ff3366
$code-red-light = #F9F2F4
$code-red-dark = #C7254E
$code-blue = #3399ff

// Code & Code Blocks
$code-foreground = $code-red-dark
$code-background = $code-red-light

// all background
$all_background = #fafafa
